<div class="container-sm">
    <ul class="nav nav-pills nav-fill">
        <!-- <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="">Skylark Airlines</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="">Home</a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="signup">Sign Up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="addflight">Add Flight</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="flights">Flight List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="admin">Admin Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="login">Login</a>
        </li>
    </ul>
    <br>
    <router-outlet></router-outlet>
</div>
<!-- <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Skylark</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Flight</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
        </ul>
        <span class="navbar-text">
          Navbar text with an inline element
        </span>
      </div>
    </div>
  </nav> -->