<app-user-navbar></app-user-navbar>
<!-- <app-admin-login></app-admin-login>
<h1>-----------------------------------------------------------------------------------</h1>
<app-user-login></app-user-login>
<h1>-----------------------------------------------------------------------------------</h1>
<app-user-signup></app-user-signup>
<h1>-----------------------------------------------------------------------------------</h1>
<app-add-flight></app-add-flight>
<h1>-----------------------------------------------------------------------------------</h1>
<app-flight-list></app-flight-list> -->
